<nav navbar class="navbar navbar-default navbarn navbar-static-top main">
  
  <div class="navbar-header">
    {{#link-to "index" class="logo_wrapper"}}<img class="logo-img" src="img/logo.png" alt="Logo de educ.ar">{{/link-to}}
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav choose_page navbar-right">
      {{#link-to "index" tagName="li" class="itemMenu"}}<a>Inicio</a>{{/link-to}}
      {{#link-to "buscar.index" tagName="li" class="itemMenu"}}<a>Buscar</a>{{/link-to}}
      {{#link-to "descargas" tagName="li" class="itemMenu"}}<a>Descargas</a>{{/link-to}}
      {{#link-to "misrecursos" tagName="li" class="itemMenu"}}<a>Mis Recursos</a>{{/link-to}}
    </ul>

  </div>
</nav>
