@import "fuentes";
@import "main";
@import "video-js";

.itemMenu {
  cursor: pointer !important;
}

.navbar-default {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  padding-top: 70px;
}

.navbar-header {
  margin-left: 30px;
}

[data-ember-action] {
  cursor: pointer;
}

.w100 {
  width: 100%;
  border: 1px solid #ccc;
}

.huayra-item-resultado {
  padding-bottom: 2em;
}

h1.huayra-item-resultado-titulo {
  font-size: 20px;
  margin-top: 0px;
}

.btn-devtools {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: 0;
  color: gray;
}
