{{outlet}}

{{#modal-dialog close="toggleModal"
                targetAttachment="center"
                translucentOverlay=true}}

  <h4>{{plain model.titulo}}</h4>

  <p>
    {{ce-video type=type model=model}}
  </p>

{{/modal-dialog}}
