{{outlet}}

{{#modal-dialog close="toggleModal"
                targetAttachment="center"
                translucentOverlay=true}}

  <h4>{{plain model.titulo}}</h4>

  {{ce-video type=type model=model}}

{{/modal-dialog}}
