<div class="container">

  <div class="row">
    <div class="col-lg-12">

      <h1>Test</h1>

      {{#link-to "index"}} index {{/link-to}}

      <p>
        <a href {{action "getVideos"}}>Videos</a>
      </p>

    </div>
  </div>
</div>
